/* Proprietà generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f8f9fa;
    font-family:'Lexend', sans-serif;;
}

ul{
    list-style-type: none;
}
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

/* Proprietà header */
header{
    width: 30%;
    min-width: 350px;
    height: 150px;
}

/* Sezione profilo */
header .profile{
    background-color: #ededed;
    padding: 10px 20px;
}
.profile img{
    width: 70px;
    border-radius: 100%;
    vertical-align: middle;
    cursor: pointer;
}
.profile .head-icons{
    width: calc(100% - 80px);
    display: inline-block;
    vertical-align: middle;
}
.head-icons i{
    float: right;
    font-size: 20px;
    color: #919191;
    margin: 0 18px;
    cursor: pointer;
}

/* Sezione ricerca */
header .search-box{
    padding: 10px 20px;
    background-color: #f6f6f6;
    position: relative;
}
.search-box i{
    color: #919191;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.search-box input{
    width: 100%;
    height: 40px;
    border-width: 0;
    border-radius: 20px;
    padding: 0 25px 0 50px;
    outline: none;
    font-size: 14px;
    color: #919191;
}
.search-box input::placeholder{
    color: #a7a7a7;
}

/* Sezione lista chat */
.chat-list{
    width: 30%;
    min-width: 350px;
    height: calc(100vh -  150px);
    padding: 0 20px;
    background-color: white;
}
.chat-list li{
    display: flex;
    align-items: center;
    height: 100px;
}
.chat-list li img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.chat-list li > div{
    flex-basis: calc(100% - 80px);
    height: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
}

.chat-list li .name-text{
    flex-basis: calc(100% - 20px);
    padding: 0 20px;
}
.name-text h3{
    font-weight: 600;
}
.name-text h4{
    font-weight: 400;
    color: #b4b4b4;
}

.chat-list .msgTime{
    max-width: 40px;
    color: #9b9b9b;
    font-weight: normal;
}
/* .chat-list li div:last-child{
    width: 80%;
    text-align: right;
} */